<div class="main">
  <div class="navbar" *ngIf="authService.auth.user | async as user;">
    <div></div>
    <fa-icon [icon]="faPlus" data-bs-toggle="modal" data-bs-target="#exampleModal"></fa-icon>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{user.displayName}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" *ngIf="user" (click)="authService.logout()">Logout</a>
        </li>
        <li><a class="dropdown-item" *ngIf="!user" (click)="authService.login()">Login</a></li>
      </ul>
    </div>
  </div>
  <img [src]="downloadedFile" alt="">
  <router-outlet></router-outlet>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
        <button type="button" #closeRef class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>{{ uploadPercent | async }}</div>
        <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
        <input type="file" (change)="getFile($event)">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="uploadFile();closeRef.click()">Done</button>
      </div>
    </div>
  </div>
</div>
